.tabs {
  padding: 0px;
  margin: 0 auto;
  display: inline
}

.tabs-input {
  display: none;
}

.tabs-container {
  margin-bottom: 10px;
  overflow-x: auto;

  margin-top: -1px;
  padding: 2px 10px;
  position: relative;
  width: inherit;
  min-width: inherit;
}


.tabs-label {
  margin: 0px 4px 0px 0px;
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  border: 1px solid #aaa;
  border-radius: 0px 0px 0px 0px;
  padding: 0.5rem 0.75rem;
  border-radius: var(--border-radius--medium);
  color: var(--color-base, light-dark(#515151, #aaaaaa));
  transition: background 100ms ease,color 100ms ease;
}


.tabs-label:hover {
  background-color: var(--background-color-quiet--hover, #ddd);
  color: var(--color-base--emphasized, light-dark(#000, #fff));
  cursor: pointer;
}

.tabs-tabbox > .tabs-input:checked + .tabs-label, .tabs-input-0:checked + .tabs-input-1 + .tabs-label {
  background-color: var(--color-primary, light-dark(#ddd, #fff));
  color: var(--color-base, light-dark(#313131, #eee));
}

.tabs-content {
  display: none;
}

.tabs-tabbox > .tabs-input:checked ~ .tabs-content,
.tabs-input-0:checked ~ .tabs-content {
  display:block;
}
